/* Desktop view  */

.body{
  background: #d9d9d9;
  width: 100%;
  font-family: inter;
}


.con1{
  margin-top: 90px;
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-colors{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
}

.div-1{
  padding-top: 100px;
}

.div-2{
  margin-top: 20px;
}

.img2{
  display: inline-block;
}

.footer1{
  background: #B6A98C;
  height: 250px;
}

.pro-header{
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}


.header-footer{
  font-size: 44px;
  padding-left: 180px;
  font-weight: 500;
  padding-top: 20px;
  margin-bottom: 20px;
}

.p2-con{
  text-align: center;
  font-size: 24px;
}
.p1-con{
  padding-left: 170px;
  font-size: 24px;
}

.btn1{
  width: 130px; 
    background-color: #B6A98C;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.h-2{
  font-size: 60px;
  font-weight: 500;
  font-family: inter;
}

.p1{
  font-size: 20px;
}

.p2{
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  font-family: inter;
}

.img3{
  display: block;
  height: 98%;
  margin: auto;
}


.img3b{
  display: none;
  height: 98%;
  margin: auto;
}

.header-A{
  padding-top: 60px;
  font-size: 56px;
  font-family: inter;
}


.project-con{
  width: 250px;
  height: 250px;
}

.mail-m{
  display: none;
}

.img-footer{
  width: 45px;
  height: 45px;
  padding-left: 3px;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

/* a:hover{
  color: aliceblue;
} */
/* project container */

.con-column{
  height: 200px;
  width: 200px;
}

.col-pro{
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 680px){

  .body{
    width: 100%;
  }
  a{
    text-decoration: none;
    color: black;
  }

  .con1{
    margin-top: 10px;
    padding: 0px 20px;
  }

  .div-padding{
    padding-left: 15px;
  }

  .div-1{
    padding-top: 30px;
    padding-right: 150px;
  }

  .btn1{
    width: 110px; 
      background-color: #B6A98C;
      height: 30px;
      border: none;
      border-radius: 5px;
  }

  .header-A{
    padding-top: 60px;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    font-family: inter;
  }

  .p2{
    font-size: 25px;
    width: 100%;
    text-align: none;
    font-family: inter;
  }

  .img3{
    display: none;
  }

  .img3b{
    display: block;
    padding-top: 50px;
    height: 350px;
    margin: auto;
  }

  .header-footer{
    font-size: 25px;
    padding-left: 10px;
    font-weight: 500;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .p-con{
    text-align: left;
    font-size: 20px;
  }

  .p1-con{
    display: none;
    padding-left: 10px;
    font-size: 24px;
  }

  .p2-con{
    text-align: left;
    font-size: 20px;
  }

  .footer1{
    background: #B6A98C;
    height: 180px;
  }

  .mail-m{
    display: inline-block;
  }

  .img-footer{
    width: 10%;
    height: 10%;
  }

}